body {
background-color: #121212; color:
#00f f00;
font-family: sans-serif;
header {
border-bottom: 2px solid #00ff00; padding: 10px;
}
nav a {
color: #00ffff;
text-decoration: none; font-weight: bold;
main {
background-color: #lelele; padding: 20px; border-radius:
10px;
footer
text-align: center: font-size: 12px;
color: grayi
}